!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Пишет: #{@contact.name}
    %p Email: #{@contact.email}
    %p Phone: #{@contact.phone}
    %p
      %br/
    %p= @contact.message
