%header
  .container
    .row
      .col-lg-12
        = image_tag("img/profile.png", {alt: "",class: "img-responsive"})
        .intro-text
          %span.name Start Bootstrap
          %hr.star-light/
          %span.skills Web Developer - Graphic Artist - User Experience Designer
